body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {

}

.content {
  position: relative;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: darkgreen;
}

.background-img {
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.left-column {

}

.header-styles {

}

.center-column {

}

.logo {

}

.logo img {

}

.link-wrapper {

}

.nav-link {

}

.nav-link:hover {

}

.right-column {

}

.icon {

}

.icon-mr {

}

.icon-ml {

}

.main-section {

}

.top-heading {

}

.bottom-heading {

}

.features-section {

}

.columns-wrapper {

}

.column {

}

.column:hover {

}

.column-icon {

}

.column-title {

}

.column-title:hover {

}

.column-content {

}